.tt {
    color: purple; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(128, 0, 128);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: 60px;
  }
  
  li a:hover {
      color: rebeccapurple;
  }
  body {
    background: black;
}
img {
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}